.postList {
    margin: 0 auto;
    margin-left: 256px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.noPostsMessage {
    width: 265px;
    margin: 20px auto;
    color: black;
    display: inline-block;
}
