.post {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
}

.postLink {
    width: 100%;
    margin: 20px 0;
    font-size: 1.15rem;
    font-weight: 800;
    text-decoration: none;
    color: #551A8B;
}

.postDescription {
    width: 100%;
}

.voteButton {
    width: 50%;
    display: inline-block;
    text-align: left;
}

.pointer {
    transform: translateY(5px);
}

.categoriesChips {
    width: 50%;
    margin: 0;
    display: inline-flex;
    justify-content: flex-end;
}

